#about-area {
    background-color: #f9f9f9;
}

.main-title {
    color: #FB6900;
    margin: 50px 0 65px 0;
    font-size: 40px;
    text-align: center;
}
  
.main-title::after {
    content: "";
    border-top: 2px solid #262837;
    width: 15%;
    position: absolute;
    top: 110px;
    left: 42.5%;
}

.about-title {
    font-size: 17px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

#about-list {
    list-style: none;
    padding-left: 0;
}

#about-list li {
    line-height: 30px;
}

#about-list i {
    color: #FB6900;
    margin-right: 15px;
}