.service-box{
    text-align: center;
    margin-bottom: 50px;
}

.service-box i, service-box h3{
    transition: .5s;
}

.service-box i{
    font-size: 36px;
    margin-bottom: 20px;
    color: black;
}

.service-box h3{
    font-size: 24px;
    margin-bottom: 20px;
}

.service-box:hover >i, .service-box:hover >h3{
    color: rgba(252,120,25,1);
}