/* Gerais */
body {
    font-family: 'Roboto', sans-serif;
}
  
.row {
    margin: 0;
}
  
.container {
    padding: 70px 0;
}
  
/* Barra de navegação */
header, .navbar {
    background-image: url(../img/barrabarra_superior.png);
    background-size: 100%;
}
  
#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}
  
#logo {
    width: 100px;
}
  