/* Gerais */
body {
    font-family: 'Roboto', sans-serif;
}
  
.row {
    margin: 0;
}
  
.container {
    padding: 70px 0;
}
  
/* Barra de navegação */
header, .navbar {
    background: rgb(244,139,43);
    background: linear-gradient(0deg, rgba(244,139,43,1) 0%, rgba(252,120,25,1) 40%, rgba(167,69,0,1) 100%);
}
  
#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}
  
#logo {
    width: 100px;
}
  